<section class="dashboard-container" ng-controller="VehiclesListController as vm">
  <h4 class="header">Veículos cadastrados</h4>

  <div class="dashboard-search">
    <div class="row">
      <div class="dashboard-search-container-input">
        <div class="dashboard-search-input input-field col s12">
          <input id="search" type="text" class="validate" ng-model="filterVehicles">
          <label for="search">Pesquisar</label>
        </div>
      </div>

      <div class="dashboard-search-container-button">
        <a ui-sref="dashboard.vehicles-create" class="dashboard-search-button waves-effect waves-light btn blue darken-2">Novo Veículo</a>
      </div>

    </div>
  </div>

  <div id="bordered-table">
    <div class="row">
      <div class="col s12 m12 l12">
        <table class="bordered">
          <thead>
            <tr>
              <th data-field="placa">Placa</th>
              <th data-field="marca">Marca</th>
              <th data-field="modelo">Modelo</th>
              <th data-field="cor">Cor</th>
              <th data-field="combustivel">Combustível</th>
              <th data-field="ano">Ano</th>
              <th class="center" data-field="actions ">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vehicles in vm.vehicles | filter: filterVehicles">
              <td>{{ vehicles.placa }}</td>
              <td>{{ vehicles.marca }}</td>
              <td>{{ vehicles.modelo }}</td>
              <td>{{ vehicles.cor }}</td>
              <td>{{ vehicles.combustivel }}</td>
              <td>{{ vehicles.ano }}</td>
              <td class="center">
                <a class="waves-effect waves-light btn blue darken-2">
                  <i class="material-icons small">mode_edit</i>
                </a>
                
                <a class="waves-effect waves-light btn red darken-2">
                  <i class="material-icons small">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>